
.header {
    background:no-repeat center;
    background-size: cover;
    min-height: 100vh;
  }  
.card-body{
      height: 250px;
      background-color: teal;
      color:white;
  }
.container-fluid{
      justify-content: center;
  }

.card-deck{
      display: flex;
  }
body{
      background-color: black;
      
  }
.navbar{
    position: fixed;
    z-index: 10;
    top:0;
    width: 100%;
    }

    
.carousel-item {
      height: 100vh;
      background: no-repeat center center scroll;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

@media(max-width:576px){
   .quienes{
       display: none;
   }
   .card-deck{
       display: inline;
   }
   .footer{
       padding: 2px;
   }
   
   }
  